.chatbox-container {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}
.chatbox {
  max-width: 600px;
}
.chatbox-header {
  width: 100%;
  padding-top: 30px;
  font-weight: 300;
  text-align: center;
  color: purple;
}
.chatbox-header a:link {
  text-decoration: none;
}
